# =========================
# Database
# =========================
SPRING_DATASOURCE_URL=jdbc:postgresql://<HOST>:5432/<DATABASE>
SPRING_DATASOURCE_USERNAME=<USERNAME>
SPRING_DATASOURCE_PASSWORD=<PASSWORD>

# =========================
# JWT
# =========================
JWT_SECRET=<YOUR_JWT_SECRET>
JWT_EXPIRATION_TIME=86400000
JWT_REFRESH_EXPIRATION_TIME=604800000

# =========================
# Kakao
# =========================
KAKAO_CLIENT_ID=<YOUR_KAKAO_CLIENT_ID>
KAKAO_CLIENT_SECRET=<YOUR_KAKAO_CLIENT_SECRET>
KAKAO_REDIRECT_URL=http://localhost:8080/api/auth/login/kakao